.container{
  flex-wrap: nowrap;
}

body{
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

hr{
  height: 1px;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo{
  margin-top: 20px;
  max-height: 100%;
  float: left;
}

.my-info{
  max-width: 100%;
  float: right;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/* Footer */
.social_media{
  float: right;
}
